# Sedgwick County Demographics

### Initializing objects

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
from census import Census
from us import states
import os
import pandas_alive

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Set API key
census_api_key = 'use yours'
c = Census(census_api_key)

### Get Kansas projection and Polygons for tract data
This is not necassary for analyzing and retrieving raw data

In [4]:

ks_tract = gpd.read_file("https://www2.census.gov/geo/tiger/TIGER2022/TRACT/tl_2022_20_tract.zip")

# Reproject shapefile to UTM Zone 14N
# https://spatialreference.org/ref/epsg/wgs-84-utm-zone-17n/
# ks_tract = ks_tract.to_crs(epsg = 32614)


ks_tract['INTPTLAT'] = pd.to_numeric(ks_tract['INTPTLAT'])
ks_tract['INTPTLON'] = pd.to_numeric(ks_tract['INTPTLON'])

# Print GeoDataFrame of shapefile
print(ks_tract.head(2))
print('Shape: ', ks_tract.shape)

# Check shapefile projection
print("\nThe shapefile projection is: {}".format(ks_tract.crs))

  STATEFP COUNTYFP TRACTCE        GEOID    NAME             NAMELSAD  MTFCC  \
0      20      079  030602  20079030602  306.02  Census Tract 306.02  G5020
1      20      079  030601  20079030601  306.01  Census Tract 306.01  G5020

  FUNCSTAT      ALAND  AWATER   INTPTLAT   INTPTLON  \
0        S  256247599  970739  37.974701 -97.603325
1        S  375759980  332078  37.971939 -97.305952

                                            geometry
0  POLYGON ((-97.70216 37.99962, -97.70216 37.999...
1  POLYGON ((-97.48222 37.96047, -97.48222 37.963...
Shape:  (829, 13)

The shapefile projection is: EPSG:4269

## Demographic and Age information

### Grabbing census variables on age 18-64 for all demographics

In [5]:
total = ['B01001_001E']
totalmale = ['B01001A_002E']
totalfemale = ['B01001A_017E']

whitemale_18to64 = [f'B01001A_0{n:02}E' for n in range(7,14)]
whitefemale_18to64 = [f'B01001A_0{n:02}E' for n in range(22,29)]

blackmale_18to64 = [f'B01001B_0{n:02}E' for n in range(7,14)]
blackfemale_18to64 = [f'B01001B_0{n:02}E' for n in range(22,29)]

nativemale_18to64 = [f'B01001C_0{n:02}E' for n in range(7,14)]
nativefemale_18to64 = [f'B01001C_0{n:02}E' for n in range(22,29)]

asianmale_18to64 = [f'B01001D_0{n:02}E' for n in range(7,14)]
asianfemale_18to64 = [f'B01001D_0{n:02}E' for n in range(22,29)]

hawaiianmale_18to64 = [f'B01001E_0{n:02}E' for n in range(7,14)]
hawaiianfemale_18to64 = [f'B01001E_0{n:02}E' for n in range(22,29)]

othermale_18to64 = [f'B01001F_0{n:02}E' for n in range(7,14)]
otherfemale_18to64 = [f'B01001F_0{n:02}E' for n in range(22,29)]

twomoremale_18to64 = [f'B01001G_0{n:02}E' for n in range(7,14)]
twomorefemale_18to64 = [f'B01001G_0{n:02}E' for n in range(22,29)]

whitenothispanicmale_18to64 = [f'B01001H_0{n:02}E' for n in range(7,14)]
whitenothispanicfemale_18to64 = [f'B01001H_0{n:02}E' for n in range(22,29)]

hispanicmale_18to64 = [f'B01001I_0{n:02}E' for n in range(7,14)]
hispanicfemale_18to64 = [f'B01001I_0{n:02}E' for n in range(22,29)]

In [6]:

# ks_census = c.acs5.state_county_tract(fields =  total + 
#                                       totalmale + 
#                                       totalfemale + 
#                                       whitemale_18to64 + 
#                                       whitefemale_18to64 + 
#                                       blackmale_18to64 + 
#                                       blackfemale_18to64 + 
#                                       nativemale_18to64 + 
#                                       nativefemale_18to64 + 
#                                       asianmale_18to64 + 
#                                       asianfemale_18to64 + 
#                                       hawaiianmale_18to64 + 
#                                       hawaiianfemale_18to64 + 
#                                       othermale_18to64 + 
#                                       otherfemale_18to64 + 
#                                       twomoremale_18to64 + 
#                                       twomorefemale_18to64 + 
#                                       whitenothispanicmale_18to64 + 
#                                       whitenothispanicfemale_18to64 + 
#                                       hispanicmale_18to64 + 
#                                       hispanicfemale_18to64,
#                                     state_fips = states.KS.fips,
#                                     county_fips = "*",
#                                     tract = "*",
#                                     year = 2022)
# ks_df = pd.DataFrame(ks_census)
# ks_df["GEOID"] = ks_df["state"] + ks_df["county"] + ks_df["tract"]
# # Remove columns
# ks_df = ks_df.drop(columns = ["state", "county", "tract"])

In [7]:
#ks_df.to_csv('kansas_re_counts.csv', index=False)

In [8]:
ks_df = pd.read_csv('kansas_re_counts.csv')

In [9]:
import numpy as np
ks_tract['GEOID'] = ks_tract['GEOID'].astype(np.int64)

In [10]:
columns = ["STATEFP", "COUNTYFP", "TRACTCE", "GEOID", "geometry"]

In [14]:

ks_merge = ks_tract.merge(ks_df, on = "GEOID")
# # Create new dataframe from select columns
ks_re_tract = ks_merge[columns + total + 
                                      totalmale + 
                                      totalfemale + 
                                      whitemale_18to64 + 
                                      whitefemale_18to64 + 
                                      blackmale_18to64 + 
                                      blackfemale_18to64 + 
                                      nativemale_18to64 + 
                                      nativefemale_18to64 + 
                                      asianmale_18to64 + 
                                      asianfemale_18to64 + 
                                      hawaiianmale_18to64 + 
                                      hawaiianfemale_18to64 + 
                                      othermale_18to64 + 
                                      otherfemale_18to64 + 
                                      twomoremale_18to64 + 
                                      twomorefemale_18to64 + 
                                      whitenothispanicmale_18to64 + 
                                      whitenothispanicfemale_18to64 + 
                                      hispanicmale_18to64 + 
                                      hispanicfemale_18to64]
# ks_re_tract = ks_re_tract[ks_re_tract['COUNTYFP']=='173']

In [15]:
ks_re_county = ks_re_tract.dissolve(by = 'COUNTYFP', aggfunc = 'sum')

In [16]:
ks_re_county

,geometry,GEOID,B01001_001E,B01001A_002E,B01001A_017E,B01001A_007E,B01001A_008E,B01001A_009E,B01001A_010E,B01001A_011E,...,B01001I_011E,B01001I_012E,B01001I_013E,B01001I_022E,B01001I_023E,B01001I_024E,B01001I_025E,B01001I_026E,B01001I_027E,B01001I_028E
COUNTYFP,,,,,,,,,,,,,,,,,,,,,
001,"POLYGON ((806187.546 4182613.21, 806181.113 41...",100009764000,12554.0,5678.0,5762.0,211.0,351.0,337.0,304.0,656.0,...,32.0,3.0,45.0,38.0,9.0,0.0,13.0,7.0,7.0,74.0
003,"POLYGON ((805511.069 4215870.839, 805509.235 4...",40007907300,7799.0,3716.0,3653.0,144.0,170.0,191.0,186.0,383.0,...,0.0,0.0,0.0,0.0,27.0,0.0,3.0,50.0,32.0,3.0
005,"POLYGON ((795160.142 4371401.913, 795155.84 43...",100025408703,16309.0,6943.0,7375.0,384.0,640.0,357.0,353.0,765.0,...,8.0,40.0,40.0,16.0,59.0,62.0,0.0,43.0,0.0,5.0
007,"POLYGON ((499802.298 4125290.642, 499802.653 4...",40015936300,4081.0,1937.0,1872.0,24.0,86.0,114.0,110.0,191.0,...,14.0,25.0,2.0,0.0,8.0,0.0,55.0,11.0,14.0,10.0
009,"POLYGON ((529284.779 4234822.914, 529271.482 4...",160079771601,25477.0,10872.0,11059.0,204.0,637.0,597.0,675.0,1334.0,...,268.0,41.0,69.0,152.0,194.0,101.0,345.0,119.0,66.0,123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,"POLYGON ((639633.902 4407924.393, 639631.606 4...",40403957300,5529.0,2691.0,2530.0,54.0,150.0,141.0,122.0,283.0,...,10.0,38.0,2.0,3.0,5.0,4.0,21.0,1.0,16.0,4.0
203,"POLYGON ((275372.196 4238154.957, 275378.372 4...",20203957600,2131.0,829.0,866.0,6.0,33.0,96.0,41.0,134.0,...,19.0,17.0,30.0,0.0,16.0,22.0,7.0,18.0,40.0,4.0
205,"POLYGON ((799439.073 4142870.669, 799238.241 4...",80820389000,8667.0,4096.0,4057.0,91.0,203.0,212.0,192.0,491.0,...,21.0,21.0,39.0,0.0,6.0,13.0,0.0,13.0,52.0,19.0
207,"POLYGON ((767492.292 4188791.698, 767490.997 4...",40414193300,3134.0,1443.0,1465.0,33.0,53.0,52.0,65.0,178.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
209,"POLYGON ((854106.419 4329600.507, 854096.176 4...",1293383453072,167989.0,42004.0,42382.0,933.0,2365.0,3351.0,3196.0,5658.0,...,3804.0,3243.0,1780.0,917.0,2135.0,1749.0,1556.0,3153.0,2522.0,1545.0

In [30]:
ks_re_county['white'] = ks_re_county[whitemale_18to64+whitefemale_18to64].sum(axis=1)
ks_re_county['hispanic'] = ks_re_county[hispanicmale_18to64+hispanicfemale_18to64].sum(axis=1) 
ks_re_county['black'] = ks_re_county[blackmale_18to64+blackfemale_18to64].sum(axis=1)
ks_re_county['native'] = ks_re_county[nativemale_18to64+nativefemale_18to64].sum(axis=1) 
ks_re_county['asian'] = ks_re_county[asianmale_18to64+asianfemale_18to64].sum(axis=1) 
ks_re_county['hawaiian'] = ks_re_county[hawaiianmale_18to64+hawaiianfemale_18to64].sum(axis=1)
ks_re_county['other'] = ks_re_county[othermale_18to64+otherfemale_18to64].sum(axis=1) 
ks_re_county['twomore'] = ks_re_county[twomoremale_18to64+twomorefemale_18to64].sum(axis=1)
ks_re_county['whitenothispanic'] = ks_re_county[whitenothispanicmale_18to64+whitenothispanicfemale_18to64].sum(axis=1) 
ks_re_county['total'] =  ks_re_county[totalfemale+totalmale].sum(axis=1)

In [31]:
final = ks_re_county[ks_re_county.index=='173']

In [32]:
final

,geometry,GEOID,B01001_001E,B01001A_002E,B01001A_017E,B01001A_007E,B01001A_008E,B01001A_009E,B01001A_010E,B01001A_011E,...,white,hispanic,black,native,asian,hawaiian,other,twomore,whitenothispanic,total
COUNTYFP,,,,,,,,,,,,,,,,,,,,,
173,"POLYGON ((634002.359 4148687.105, 633809.719 4...",2723355938521,522700.0,189311.0,191928.0,4765.0,12677.0,13326.0,12637.0,24496.0,...,227836.0,46342.0,25958.0,3070.0,15034.0,298.0,14636.0,25218.0,208504.0,381239.0

In [34]:
final_df = final.iloc[:,-10:]

In [37]:
df_long = final_df.melt( var_name='race', value_name='count')

In [39]:
df_long['county'] = 'Sedgwick County'

In [41]:
df_long = df_long[['county','race','count']]

In [43]:
df_long.to_csv('data/working_demographics_sedgwick.csv', index=False)

In [8]:
all_ages_male = [f'B01001_0{n:02}E' for n in range(3,26)]
all_ages_female = [f'B01001_0{n:02}E' for n in range(27,50)]
totalmale = ['B01001_002E']
totalfemale = ['B01001_026E']
hispanic_total = ['B01001I_001E']

In [9]:

ks_census = c.acs5.state_county_tract(fields =  all_ages_male
                                      + all_ages_female
                                      + totalfemale
                                      + totalmale
                                      + hispanic_total,
                                    state_fips = states.KS.fips,
                                    county_fips = "173",
                                    tract = "*",
                                    year = 2022)
ks_df = pd.DataFrame(ks_census)
ks_df["GEOID"] = ks_df["state"] + ks_df["county"] + ks_df["tract"]
# Remove columns
ks_df = ks_df.drop(columns = ["state", "county", "tract"])

In [10]:
import numpy as np
ks_tract['GEOID'] = ks_tract['GEOID'].astype(np.int64)
ks_df['GEOID'] = ks_df['GEOID'].astype(np.int64)

In [11]:
columns = ["STATEFP", "COUNTYFP", "TRACTCE", "GEOID", "geometry"]

In [12]:
ks_df

,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,...,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,B01001_026E,B01001_002E,B01001I_001E,GEOID
0,143.0,124.0,163.0,192.0,64.0,0.0,31.0,112.0,77.0,52.0,...,0.0,67.0,35.0,6.0,42.0,38.0,1682.0,1697.0,2819.0,20173000100
1,46.0,61.0,121.0,87.0,56.0,0.0,65.0,65.0,226.0,84.0,...,12.0,46.0,30.0,102.0,0.0,12.0,1708.0,1599.0,1204.0,20173000200
2,85.0,250.0,164.0,112.0,108.0,30.0,50.0,149.0,222.0,99.0,...,3.0,6.0,136.0,36.0,24.0,0.0,2328.0,2229.0,2507.0,20173000300
3,80.0,141.0,119.0,50.0,21.0,18.0,79.0,27.0,120.0,159.0,...,7.0,134.0,17.0,25.0,8.0,8.0,1598.0,1341.0,1377.0,20173000400
4,23.0,166.0,76.0,46.0,0.0,10.0,0.0,33.0,71.0,62.0,...,96.0,26.0,27.0,6.0,5.0,29.0,1149.0,786.0,157.0,20173000600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,90.0,131.0,257.0,107.0,37.0,7.0,23.0,36.0,67.0,64.0,...,23.0,293.0,25.0,54.0,23.0,24.0,2086.0,1893.0,40.0,20173010600
131,87.0,138.0,138.0,152.0,82.0,0.0,0.0,13.0,69.0,74.0,...,42.0,55.0,86.0,15.0,33.0,130.0,1692.0,1664.0,104.0,20173010700
132,48.0,61.0,24.0,37.0,24.0,3.0,0.0,70.0,245.0,65.0,...,31.0,32.0,59.0,36.0,11.0,1.0,1314.0,972.0,162.0,20173010801
133,83.0,100.0,42.0,191.0,30.0,18.0,73.0,113.0,133.0,149.0,...,8.0,21.0,26.0,10.0,0.0,1.0,1588.0,1626.0,117.0,20173010802
134,64.0,127.0,121.0,59.0,79.0,11.0,8.0,72.0,88.0,97.0,...,79.0,241.0,102.0,61.0,41.0,51.0,2012.0,1872.0,232.0,20173010900

In [13]:

ks_merge = ks_tract.merge(ks_df, on = "GEOID")
# # Create new dataframe from select columns
ks_re_tract = ks_merge[columns + all_ages_male
                                      + all_ages_female
                                      + totalmale
                                      + totalfemale
                                      + hispanic_total]
# ks_re_tract = ks_re_tract[ks_re_tract['COUNTYFP']=='173']

In [14]:
ks_re_county = ks_re_tract.dissolve(by = 'COUNTYFP', aggfunc = 'sum')

In [21]:
display(ks_re_county[all_ages_male])

,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,...,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E
COUNTYFP,,,,,,,,,,,,,,,,,,,,,
173,17367.0,18307.0,19991.0,11515.0,7160.0,3641.0,3351.0,12074.0,19173.0,17716.0,...,14809.0,15563.0,6698.0,9479.0,5653.0,7280.0,9786.0,5601.0,3889.0,3488.0

In [15]:
ks_re_county[all_ages_male].sum(axis=1)

COUNTYFP
173    260195.0
dtype: float64

In [16]:
ks_re_county[all_ages_female].sum(axis=1)

COUNTYFP
173    262505.0
dtype: float64

In [17]:
ks_re_county[totalmale[0]]

COUNTYFP
173    260195.0
Name: B01001_002E, dtype: float64

In [18]:
ks_re_county[totalfemale[0]]

COUNTYFP
173    262505.0
Name: B01001_026E, dtype: float64

In [19]:
ks_re_county[hispanic_total[0]]

COUNTYFP
173    80925.0
Name: B01001I_001E, dtype: float64

## Data Validation

In [63]:
total = ['B01001_001E']
hispanic_total = ['B01001I_001E']
white_total = ['B01001A_001E']
black_total = ['B01001B_001E']
indian_total = ['B01001C_001E']
asian_total = ['B01001D_001E']
hawaiian_total = ['B01001E_001E']
other_total = ['B01001F_001E']
twomore_total = ['B01001G_001E']
whitenothispanic_total = ['B01001H_001E']

all_var = (total +
hispanic_total +
white_total +
black_total +
indian_total +
asian_total +
hawaiian_total +
other_total +
twomore_total +
whitenothispanic_total )

In [43]:
hispanic_women_total = ['B01001I_017E']
hispanic_men_total = ['B01001I_002E']
hispanic_total = ['B01001I_001E']
all_var = (hispanic_total + 
           hispanic_men_total + 
           hispanic_women_total)

In [64]:

male_18to64 = [f'B01001_0{n:02}E' for n in range(7,20)]
female_18to64 = [f'B01001_0{n:02}E' for n in range(31,44)]

whitemale_18to64 = [f'B01001A_0{n:02}E' for n in range(7,14)]
whitefemale_18to64 = [f'B01001A_0{n:02}E' for n in range(22,29)]

blackmale_18to64 = [f'B01001B_0{n:02}E' for n in range(7,14)]
blackfemale_18to64 = [f'B01001B_0{n:02}E' for n in range(22,29)]

nativemale_18to64 = [f'B01001C_0{n:02}E' for n in range(7,14)]
nativefemale_18to64 = [f'B01001C_0{n:02}E' for n in range(22,29)]

asianmale_18to64 = [f'B01001D_0{n:02}E' for n in range(7,14)]
asianfemale_18to64 = [f'B01001D_0{n:02}E' for n in range(22,29)]

hawaiianmale_18to64 = [f'B01001E_0{n:02}E' for n in range(7,14)]
hawaiianfemale_18to64 = [f'B01001E_0{n:02}E' for n in range(22,29)]

othermale_18to64 = [f'B01001F_0{n:02}E' for n in range(7,14)]
otherfemale_18to64 = [f'B01001F_0{n:02}E' for n in range(22,29)]

twomoremale_18to64 = [f'B01001G_0{n:02}E' for n in range(7,14)]
twomorefemale_18to64 = [f'B01001G_0{n:02}E' for n in range(22,29)]

whitenothispanicmale_18to64 = [f'B01001H_0{n:02}E' for n in range(7,14)]
whitenothispanicfemale_18to64 = [f'B01001H_0{n:02}E' for n in range(22,29)]

hispanicmale_18to64 = [f'B01001I_0{n:02}E' for n in range(7,14)]
hispanicfemale_18to64 = [f'B01001I_0{n:02}E' for n in range(22,29)]

all_var = (male_18to64 +
female_18to64 +

whitemale_18to64 +
whitefemale_18to64 +

blackmale_18to64 +
blackfemale_18to64 +

nativemale_18to64 +
nativefemale_18to64 +

asianmale_18to64 +
asianfemale_18to64 +

hawaiianmale_18to64 +
hawaiianfemale_18to64 +

othermale_18to64 +
otherfemale_18to64 +

twomoremale_18to64 +
twomorefemale_18to64 +

whitenothispanicmale_18to64 +
whitenothispanicfemale_18to64 +

hispanicmale_18to64 +
hispanicfemale_18to64)

In [65]:

ks_census = c.acs5.state_county_tract(fields =  all_var,
                                    state_fips = states.KS.fips,
                                    county_fips = "173",
                                    tract = "*",
                                    year = 2022)
ks_df = pd.DataFrame(ks_census)
ks_df["GEOID"] = ks_df["state"] + ks_df["county"] + ks_df["tract"]
# Remove columns
ks_df = ks_df.drop(columns = ["state", "county", "tract"])

In [66]:
import numpy as np
ks_tract['GEOID'] = ks_tract['GEOID'].astype(np.int64)
ks_df['GEOID'] = ks_df['GEOID'].astype(np.int64)

In [67]:
columns = ["STATEFP", "COUNTYFP", "TRACTCE", "GEOID", "geometry"]

In [68]:
ks_df

,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,...,B01001I_012E,B01001I_013E,B01001I_022E,B01001I_023E,B01001I_024E,B01001I_025E,B01001I_026E,B01001I_027E,B01001I_028E,GEOID
0,64.0,0.0,31.0,112.0,77.0,52.0,111.0,160.0,84.0,48.0,...,100.0,193.0,146.0,70.0,10.0,164.0,161.0,162.0,152.0,20173000100
1,56.0,0.0,65.0,65.0,226.0,84.0,92.0,127.0,125.0,22.0,...,30.0,66.0,8.0,101.0,27.0,2.0,117.0,62.0,47.0,20173000200
2,108.0,30.0,50.0,149.0,222.0,99.0,62.0,167.0,59.0,172.0,...,99.0,57.0,13.0,65.0,159.0,94.0,129.0,165.0,97.0,20173000300
3,21.0,18.0,79.0,27.0,120.0,159.0,85.0,92.0,74.0,16.0,...,36.0,22.0,18.0,135.0,77.0,9.0,64.0,103.0,35.0,20173000400
4,0.0,10.0,0.0,33.0,71.0,62.0,38.0,10.0,35.0,38.0,...,0.0,0.0,0.0,0.0,16.0,0.0,4.0,0.0,8.0,20173000600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,37.0,7.0,23.0,36.0,67.0,64.0,53.0,143.0,135.0,118.0,...,0.0,0.0,0.0,10.0,0.0,0.0,2.0,6.0,0.0,20173010600
131,82.0,0.0,0.0,13.0,69.0,74.0,120.0,163.0,122.0,69.0,...,0.0,0.0,0.0,0.0,0.0,0.0,16.0,3.0,0.0,20173010700
132,24.0,3.0,0.0,70.0,245.0,65.0,55.0,23.0,75.0,47.0,...,1.0,0.0,0.0,36.0,5.0,0.0,14.0,30.0,0.0,20173010801
133,30.0,18.0,73.0,113.0,133.0,149.0,62.0,32.0,109.0,262.0,...,22.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,6.0,20173010802
134,79.0,11.0,8.0,72.0,88.0,97.0,137.0,179.0,119.0,120.0,...,8.0,0.0,0.0,8.0,13.0,0.0,44.0,0.0,36.0,20173010900

In [84]:

ks_merge = ks_tract.merge(ks_df, on = "GEOID")
# # Create new dataframe from select columns
ks_re_tract = ks_merge[columns + all_var]
# ks_re_tract = ks_re_tract[ks_re_tract['COUNTYFP']=='173']

In [85]:
ks_re_county = ks_re_tract#.dissolve(by = 'COUNTYFP', aggfunc = 'sum')

In [86]:
ks_re_county[whitemale_18to64 +
whitefemale_18to64 +

blackmale_18to64 +
blackfemale_18to64 +

nativemale_18to64 +
nativefemale_18to64 +

asianmale_18to64 +
asianfemale_18to64 +

hawaiianmale_18to64 +
hawaiianfemale_18to64 +

othermale_18to64 +
otherfemale_18to64 +

twomoremale_18to64 +
twomorefemale_18to64].sum(axis=1)

0      1967.0
1      2293.0
2      2260.0
3      3691.0
4      4239.0
        ...
130    1582.0
131    2839.0
132    2157.0
133    2942.0
134    2584.0
Length: 135, dtype: float64

In [87]:
ks_re_county[male_18to64+female_18to64].sum(axis=1)

0      1967.0
1      2293.0
2      2260.0
3      3691.0
4      4239.0
        ...
130    1582.0
131    2839.0
132    2157.0
133    2942.0
134    2584.0
Length: 135, dtype: float64

In [88]:
ks_re_county['WHITE'] = ks_re_county[whitefemale_18to64+whitemale_18to64].sum(axis=1)
ks_re_county['BLACK_OR_AFRICAN_AMERICAN'] = ks_re_county[blackfemale_18to64+blackmale_18to64].sum(axis=1)
ks_re_county['AMERICAN_INDIAN_AND_ALASKA_NATIVE'] = ks_re_county[nativefemale_18to64+nativemale_18to64].sum(axis=1)
ks_re_county['ASIAN'] = ks_re_county[asianfemale_18to64+asianmale_18to64].sum(axis=1)
ks_re_county['NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER'] = ks_re_county[hawaiianfemale_18to64+hawaiianmale_18to64].sum(axis=1)
ks_re_county['ETHNICITY_UNKNOWN'] = ks_re_county[otherfemale_18to64+othermale_18to64].sum(axis=1)
ks_re_county['TWO_OR_MORE_RACES'] = ks_re_county[twomorefemale_18to64+twomoremale_18to64].sum(axis=1)
ks_re_county['HISPANIC_OR_LATINO'] = ks_re_county[hispanicfemale_18to64+hispanicmale_18to64].sum(axis=1)
ks_re_county['total'] = ks_re_county[male_18to64+female_18to64].sum(axis=1)

In [89]:
st_data = ks_re_county.iloc[:,-9:]

In [21]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
st_data = pd.DataFrame(scaler.fit_transform(st_data), columns=st_data.columns)

In [90]:
st_data

,WHITE,BLACK_OR_AFRICAN_AMERICAN,AMERICAN_INDIAN_AND_ALASKA_NATIVE,ASIAN,NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER,ETHNICITY_UNKNOWN,TWO_OR_MORE_RACES,HISPANIC_OR_LATINO,total
0,1415.0,205.0,10.0,161.0,0.0,16.0,160.0,125.0,1967.0
1,1848.0,121.0,113.0,7.0,4.0,0.0,200.0,283.0,2293.0
2,1467.0,480.0,24.0,146.0,0.0,16.0,127.0,145.0,2260.0
3,3237.0,106.0,4.0,62.0,0.0,212.0,70.0,318.0,3691.0
4,2086.0,19.0,255.0,69.0,0.0,642.0,1168.0,2699.0,4239.0
...,...,...,...,...,...,...,...,...,...
130,1020.0,230.0,0.0,181.0,0.0,57.0,94.0,268.0,1582.0
131,1677.0,175.0,25.0,54.0,0.0,666.0,242.0,1139.0,2839.0
132,1600.0,218.0,50.0,0.0,11.0,50.0,228.0,287.0,2157.0
133,1826.0,274.0,12.0,100.0,0.0,314.0,416.0,790.0,2942.0
134,2061.0,272.0,44.0,24.0,0.0,118.0,65.0,442.0,2584.0

In [91]:
st_data['coordinates'] = ks_re_county['geometry']

In [92]:
import pandas as pd
from shapely.wkt import loads  # To parse the WKT POLYGON format



# Function to convert WKT POLYGON to list-of-lists format
def polygon_to_list_of_lists(polygon_wkt):
    # Parse the WKT format to a Shapely Polygon object
    polygon_wkt = str(polygon_wkt)
    polygon = loads(polygon_wkt)
    
    # Extract the exterior coordinates as a list of lists
    coords_list = [[list(coord) for coord in polygon.exterior.coords]]
    
    return coords_list

# Apply the function to the geometry column
st_data['coordinates'] = ks_re_county['geometry'].apply(polygon_to_list_of_lists)

# Check the result
print(st_data['coordinates'].iloc[0])

[[[-97.262272, 37.708419], [-97.26001, 37.708411], [-97.258898, 37.708409], [-97.257789, 37.708409], [-97.25691, 37.708409], [-97.256632, 37.708409], [-97.25433, 37.708413], [-97.25383, 37.708414], [-97.252268, 37.708418], [-97.249383, 37.708419], [-97.248725, 37.70842], [-97.247906, 37.708422], [-97.247316, 37.708426], [-97.246577, 37.70843], [-97.24644, 37.708431], [-97.245779, 37.708435], [-97.244667, 37.708445], [-97.243758, 37.708453], [-97.242096, 37.70843], [-97.240639, 37.708427], [-97.239919, 37.708425], [-97.239002, 37.708423], [-97.237736, 37.70842], [-97.235605, 37.708419], [-97.232956, 37.708424], [-97.231325, 37.708427], [-97.229066, 37.708432], [-97.226199, 37.708434], [-97.226206, 37.707953], [-97.226211, 37.706631], [-97.226209, 37.704591], [-97.226208, 37.704094], [-97.226207, 37.703508], [-97.226205, 37.701701], [-97.226202, 37.701161], [-97.226202, 37.701067], [-97.226192, 37.698852], [-97.226191, 37.698391], [-97.22619, 37.697967], [-97.226184, 37.697493], [-97.226178, 37.697116], [-97.22618, 37.696632], [-97.226182, 37.695752], [-97.226182, 37.69518], [-97.226176, 37.694808], [-97.226173, 37.694681], [-97.226166, 37.69424], [-97.226162, 37.693978], [-97.226434, 37.69394], [-97.226647, 37.693911], [-97.227601, 37.693862], [-97.232544, 37.693857], [-97.233094, 37.693855], [-97.233456, 37.693853], [-97.235252, 37.693856], [-97.236246, 37.693852], [-97.236756, 37.69385], [-97.239077, 37.693841], [-97.239909, 37.693842], [-97.241596, 37.693845], [-97.242116, 37.693845], [-97.242495, 37.693843], [-97.242867, 37.693842], [-97.244538, 37.693825], [-97.245798, 37.693822], [-97.247124, 37.693825], [-97.248092, 37.693828], [-97.248538, 37.693829], [-97.248822, 37.69383], [-97.249429, 37.693831], [-97.250701, 37.693832], [-97.250856, 37.693832], [-97.251824, 37.693829], [-97.253057, 37.693826], [-97.25307, 37.69518], [-97.253104, 37.695894], [-97.253179, 37.696336], [-97.253185, 37.696376], [-97.253331, 37.696834], [-97.253899, 37.697823], [-97.254752, 37.698736], [-97.254966, 37.698908], [-97.255055, 37.69898], [-97.255302, 37.699323], [-97.255339, 37.699889], [-97.25536, 37.701124], [-97.256579, 37.70112], [-97.257751, 37.701118], [-97.258887, 37.701117], [-97.259995, 37.701115], [-97.262201, 37.701109], [-97.262208, 37.702015], [-97.262218, 37.702896], [-97.262227, 37.703774], [-97.262237, 37.704655], [-97.262245, 37.705527], [-97.262254, 37.706401], [-97.262272, 37.708419]]]

In [93]:
st_data.columns

Index(['WHITE', 'BLACK_OR_AFRICAN_AMERICAN',
       'AMERICAN_INDIAN_AND_ALASKA_NATIVE', 'ASIAN',
       'NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER', 'ETHNICITY_UNKNOWN',
       'TWO_OR_MORE_RACES', 'HISPANIC_OR_LATINO', 'total', 'coordinates'],
      dtype='object')

In [94]:
st_data.to_csv('sedgwick_st.csv', index=False)

In [63]:
df_long = ks_re_county.iloc[:,-9:].melt( var_name='race', value_name='count')

In [65]:
df_long

                                         race     count
0                                       WHITE  235771.0
1                   BLACK OR AFRICAN AMERICAN   26258.0
2           AMERICAN INDIAN AND ALASKA NATIVE    2976.0
3                                       ASIAN   15138.0
4  NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER     260.0
5                           ETHNICITY UNKNOWN   12228.0
6                           TWO OR MORE RACES   15613.0
7                          HISPANIC OR LATINO   42854.0
8                                       total  308244.0

In [66]:
df_long.to_csv('data/working_demographics_sedgwick.csv', index=False)

RE

In [42]:
ks_re_county

,geometry,GEOID,B01001_001E,B01001I_001E,B01001A_001E,B01001B_001E,B01001C_001E,B01001D_001E,B01001E_001E,B01001F_001E,B01001G_001E,B01001H_001E
COUNTYFP,,,,,,,,,,,,
173,"POLYGON ((634002.359 4148687.105, 633809.719 4...",2723355938521,515416.0,76702.0,392724.0,43196.0,4640.0,22161.0,320.0,20357.0,32018.0,348133.0

In [41]:
ks_re_county[
# hispanic_total +
white_total +
black_total +
indian_total +
asian_total +
hawaiian_total +
other_total +
twomore_total 
# whitenothispanic_total
].sum(axis=1)

COUNTYFP
173    515416.0
dtype: float64

In [45]:
import math

import pandas as pd
import pydeck as pdk

# Load in the JSON data
DATA_URL = "https://raw.githubusercontent.com/visgl/deck.gl-data/master/examples/geojson/vancouver-blocks.json"
json = pd.read_json(DATA_URL)
df = pd.DataFrame()

# Custom color scale
COLOR_RANGE = [
    [65, 182, 196],
    [127, 205, 187],
    [199, 233, 180],
    [237, 248, 177],
    [255, 255, 204],
    [255, 237, 160],
    [254, 217, 118],
    [254, 178, 76],
    [253, 141, 60],
    [252, 78, 42],
    [227, 26, 28],
    [189, 0, 38],
    [128, 0, 38],
]

BREAKS = [-0.6, -0.45, -0.3, -0.15, 0, 0.15, 0.3, 0.45, 0.6, 0.75, 0.9, 1.05, 1.2]


def color_scale(val):
    for i, b in enumerate(BREAKS):
        if val < b:
            return COLOR_RANGE[i]
    return COLOR_RANGE[i]


def calculate_elevation(val):
    return math.sqrt(val) * 10


# Parse the geometry out in Pandas
df["coordinates"] = json["features"].apply(lambda row: row["geometry"]["coordinates"])
df["valuePerSqm"] = json["features"].apply(lambda row: row["properties"]["valuePerSqm"])
df["growth"] = json["features"].apply(lambda row: row["properties"]["growth"])
df["elevation"] = json["features"].apply(lambda row: calculate_elevation(row["properties"]["valuePerSqm"]))
df["fill_color"] = json["features"].apply(lambda row: color_scale(row["properties"]["growth"]))

In [46]:
df

,coordinates,valuePerSqm,growth,elevation,fill_color
0,"[[[-123.0249569, 49.240719], [-123.0241582, 49...",4563,0.3592,675.499815,"[254, 178, 76]"
1,"[[[-123.0713722, 49.2720583], [-123.069715, 49...",2270,0.2653,476.445170,"[254, 217, 118]"
2,"[[[-123.0716588, 49.2715175], [-123.0733174, 4...",4338,0.2906,658.634952,"[254, 217, 118]"
3,"[[[-123.0746276, 49.2715849], [-123.0758105, 4...",3834,0.7270,619.193023,"[252, 78, 42]"
4,"[[[-123.0753056, 49.2686511], [-123.0736492, 4...",6597,0.2703,812.219182,"[254, 217, 118]"
...,...,...,...,...,...
4622,"[[[-123.1124635, 49.2825274], [-123.1134798, 4...",13417,0.1142,1158.317746,"[255, 237, 160]"
4623,"[[[-123.1208394, 49.2818661], [-123.1200652, 4...",1364,0.1171,369.323706,"[255, 237, 160]"
4624,"[[[-123.0512263, 49.2226261], [-123.0506408, 4...",4794,0.4104,692.387175,"[254, 178, 76]"
4625,"[[[-123.0794137, 49.2474319], [-123.0763577, 4...",3565,0.3695,597.076210,"[254, 178, 76]"
4626,"[[[-123.1022246, 49.2708267], [-123.1021318, 4...",195,0.6525,139.642400,"[252, 78, 42]"

In [47]:
df.dtypes

coordinates     object
valuePerSqm      int64
growth         float64
elevation      float64
fill_color      object
dtype: object

In [78]:
ks = pd.read_csv('z:/Jon/Python/Census/sedgwick_st.csv')

In [79]:
import ast
ks['coordinates'] = ks['coordinates'].apply(ast.literal_eval)

In [80]:
ks

,WHITE,BLACK OR AFRICAN AMERICAN,AMERICAN INDIAN AND ALASKA NATIVE,ASIAN,NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER,ETHNICITY UNKNOWN,TWO OR MORE RACES,HISPANIC OR LATINO,total,coordinates
0,1415.0,205.0,10.0,161.0,0.0,16.0,160.0,125.0,1967.0,"[[[-97.262272, 37.708419], [-97.26001, 37.7084..."
1,1848.0,121.0,113.0,7.0,4.0,0.0,200.0,283.0,2293.0,"[[[-97.26218, 37.69382], [-97.258813, 37.69381..."
2,1467.0,480.0,24.0,146.0,0.0,16.0,127.0,145.0,2260.0,"[[[-97.280665, 37.721858], [-97.280661, 37.722..."
3,3237.0,106.0,4.0,62.0,0.0,212.0,70.0,318.0,3691.0,"[[[-97.33593, 37.79699], [-97.33589, 37.798644..."
4,2086.0,19.0,255.0,69.0,0.0,642.0,1168.0,2699.0,4239.0,"[[[-97.360987, 37.749338], [-97.359281, 37.750..."
...,...,...,...,...,...,...,...,...,...,...
130,1020.0,230.0,0.0,181.0,0.0,57.0,94.0,268.0,1582.0,"[[[-97.317199, 37.669902], [-97.317192, 37.671..."
131,1677.0,175.0,25.0,54.0,0.0,666.0,242.0,1139.0,2839.0,"[[[-97.331578, 37.658043], [-97.331574, 37.658..."
132,1600.0,218.0,50.0,0.0,11.0,50.0,228.0,287.0,2157.0,"[[[-97.348761, 37.657015], [-97.347926, 37.660..."
133,1826.0,274.0,12.0,100.0,0.0,314.0,416.0,790.0,2942.0,"[[[-97.352791, 37.66602], [-97.351521, 37.6660..."
134,2061.0,272.0,44.0,24.0,0.0,118.0,65.0,442.0,2584.0,"[[[-97.370973, 37.658661], [-97.369749, 37.658..."

In [59]:
ks['coordinates'].iloc[0]

'[[[-97.262272, 37.708419], [-97.26001, 37.708411], [-97.258898, 37.708409], [-97.257789, 37.708409], [-97.25691, 37.708409], [-97.256632, 37.708409], [-97.25433, 37.708413], [-97.25383, 37.708414], [-97.252268, 37.708418], [-97.249383, 37.708419], [-97.248725, 37.70842], [-97.247906, 37.708422], [-97.247316, 37.708426], [-97.246577, 37.70843], [-97.24644, 37.708431], [-97.245779, 37.708435], [-97.244667, 37.708445], [-97.243758, 37.708453], [-97.242096, 37.70843], [-97.240639, 37.708427], [-97.239919, 37.708425], [-97.239002, 37.708423], [-97.237736, 37.70842], [-97.235605, 37.708419], [-97.232956, 37.708424], [-97.231325, 37.708427], [-97.229066, 37.708432], [-97.226199, 37.708434], [-97.226206, 37.707953], [-97.226211, 37.706631], [-97.226209, 37.704591], [-97.226208, 37.704094], [-97.226207, 37.703508], [-97.226205, 37.701701], [-97.226202, 37.701161], [-97.226202, 37.701067], [-97.226192, 37.698852], [-97.226191, 37.698391], [-97.22619, 37.697967], [-97.226184, 37.697493], [-97.226178, 37.697116], [-97.22618, 37.696632], [-97.226182, 37.695752], [-97.226182, 37.69518], [-97.226176, 37.694808], [-97.226173, 37.694681], [-97.226166, 37.69424], [-97.226162, 37.693978], [-97.226434, 37.69394], [-97.226647, 37.693911], [-97.227601, 37.693862], [-97.232544, 37.693857], [-97.233094, 37.693855], [-97.233456, 37.693853], [-97.235252, 37.693856], [-97.236246, 37.693852], [-97.236756, 37.69385], [-97.239077, 37.693841], [-97.239909, 37.693842], [-97.241596, 37.693845], [-97.242116, 37.693845], [-97.242495, 37.693843], [-97.242867, 37.693842], [-97.244538, 37.693825], [-97.245798, 37.693822], [-97.247124, 37.693825], [-97.248092, 37.693828], [-97.248538, 37.693829], [-97.248822, 37.69383], [-97.249429, 37.693831], [-97.250701, 37.693832], [-97.250856, 37.693832], [-97.251824, 37.693829], [-97.253057, 37.693826], [-97.25307, 37.69518], [-97.253104, 37.695894], [-97.253179, 37.696336], [-97.253185, 37.696376], [-97.253331, 37.696834], [-97.253899, 37.697823], [-97.254752, 37.698736], [-97.254966, 37.698908], [-97.255055, 37.69898], [-97.255302, 37.699323], [-97.255339, 37.699889], [-97.25536, 37.701124], [-97.256579, 37.70112], [-97.257751, 37.701118], [-97.258887, 37.701117], [-97.259995, 37.701115], [-97.262201, 37.701109], [-97.262208, 37.702015], [-97.262218, 37.702896], [-97.262227, 37.703774], [-97.262237, 37.704655], [-97.262245, 37.705527], [-97.262254, 37.706401], [-97.262272, 37.708419]]]'

In [57]:
ks.to_csv('sedgwick_st.csv', index=False)

In [29]:
df['coordinates'].iloc[0]

[[[-123.0249569, 49.240719],
  [-123.0241582, 49.2407165],
  [-123.0240445, 49.2406847],
  [-123.0239311, 49.2407159],
  [-123.023853, 49.2407157],
  [-123.0238536, 49.2404548],
  [-123.0249568, 49.2404582],
  [-123.0249569, 49.240719]]]

In [61]:
list(range(0,1,))

[0]

In [33]:
for i in st_data['coordinates'].iloc[:2]:
    print(i)

POLYGON ((-97.262272 37.708419, -97.26001 37.708411, -97.258898 37.708409, -97.257789 37.708409, -97.25691 37.708409, -97.256632 37.708409, -97.25433 37.708413, -97.25383 37.708414, -97.252268 37.708418, -97.249383 37.708419, -97.248725 37.70842, -97.247906 37.708422, -97.247316 37.708426, -97.246577 37.70843, -97.24644 37.708431, -97.245779 37.708435, -97.244667 37.708445, -97.243758 37.708453, -97.242096 37.70843, -97.240639 37.708427, -97.239919 37.708425, -97.239002 37.708423, -97.237736 37.70842, -97.235605 37.708419, -97.232956 37.708424, -97.231325 37.708427, -97.229066 37.708432, -97.226199 37.708434, -97.226206 37.707953, -97.226211 37.706631, -97.226209 37.704591, -97.226208 37.704094, -97.226207 37.703508, -97.226205 37.701701, -97.226202 37.701161, -97.226202 37.701067, -97.226192 37.698852, -97.226191 37.698391, -97.22619 37.697967, -97.226184 37.697493, -97.226178 37.697116, -97.22618 37.696632, -97.226182 37.695752, -97.226182 37.69518, -97.226176 37.694808, -97.226173 37.694681, -97.226166 37.69424, -97.226162 37.693978, -97.226434 37.69394, -97.226647 37.693911, -97.227601 37.693862, -97.232544 37.693857, -97.233094 37.693855, -97.233456 37.693853, -97.235252 37.693856, -97.236246 37.693852, -97.236756 37.69385, -97.239077 37.693841, -97.239909 37.693842, -97.241596 37.693845, -97.242116 37.693845, -97.242495 37.693843, -97.242867 37.693842, -97.244538 37.693825, -97.245798 37.693822, -97.247124 37.693825, -97.248092 37.693828, -97.248538 37.693829, -97.248822 37.69383, -97.249429 37.693831, -97.250701 37.693832, -97.250856 37.693832, -97.251824 37.693829, -97.253057 37.693826, -97.25307 37.69518, -97.253104 37.695894, -97.253179 37.696336, -97.253185 37.696376, -97.253331 37.696834, -97.253899 37.697823, -97.254752 37.698736, -97.254966 37.698908, -97.255055 37.69898, -97.255302 37.699323, -97.255339 37.699889, -97.25536 37.701124, -97.256579 37.70112, -97.257751 37.701118, -97.258887 37.701117, -97.259995 37.701115, -97.262201 37.701109, -97.262208 37.702015, -97.262218 37.702896, -97.262227 37.703774, -97.262237 37.704655, -97.262245 37.705527, -97.262254 37.706401, -97.262272 37.708419))
POLYGON ((-97.26218 37.69382, -97.258813 37.693816, -97.257704 37.693816, -97.256586 37.693816, -97.255455 37.693819, -97.254277 37.693822, -97.253057 37.693826, -97.251824 37.693829, -97.250856 37.693832, -97.250701 37.693832, -97.249429 37.693831, -97.248822 37.69383, -97.248538 37.693829, -97.248092 37.693828, -97.247124 37.693825, -97.245798 37.693822, -97.244538 37.693825, -97.242867 37.693842, -97.242495 37.693843, -97.242116 37.693845, -97.241596 37.693845, -97.239909 37.693842, -97.239077 37.693841, -97.236756 37.69385, -97.236246 37.693852, -97.235252 37.693856, -97.233456 37.693853, -97.233094 37.693855, -97.232544 37.693857, -97.227601 37.693862, -97.226647 37.693911, -97.226434 37.69394, -97.226162 37.693978, -97.226153 37.692721, -97.226173 37.691156, -97.226149 37.68991, -97.226143 37.688341, -97.226162 37.686585, -97.226143 37.684292, -97.226155 37.682073, -97.226156 37.681949, -97.226156 37.681931, -97.226153 37.681495, -97.226142 37.679721, -97.22613 37.679302, -97.226877 37.679297, -97.227312 37.679298, -97.230591 37.679253, -97.230661 37.679253, -97.230951 37.679265, -97.2337 37.679451, -97.235212 37.679468, -97.235644 37.679468, -97.236537 37.679451, -97.237162 37.679438, -97.237853 37.679447, -97.238632 37.679457, -97.240807 37.679493, -97.241887 37.679511, -97.243099 37.679517, -97.243898 37.679517, -97.244464 37.679522, -97.24562 37.679531, -97.246 37.679536, -97.247445 37.679523, -97.248359 37.679518, -97.250131 37.679532, -97.250419 37.67953, -97.251079 37.679526, -97.252246 37.679494, -97.253629 37.67947, -97.254584 37.679472, -97.254604 37.679679, -97.254769 37.679759, -97.254774 37.679876, -97.254774 37.679948, -97.254776 37.68049, -97.254778 37.68076, -97.254778 37.680924, -97.25478 37.681549, -97.254785 37.682089, -97.254785 37.682131, -97.254789 37.682726, -97.254727 37.682761, -97.25469 37.682789, -97.25467 37.6828, -97.254657 37.682809, -97.254644 37.682819, -97.254631 37.682828, -97.254603 37.682848, -97.254239 37.682849, -97.253647 37.682835, -97.253657 37.684666, -97.253666 37.686379, -97.253666 37.686494, -97.253666 37.686535, -97.253668 37.687176, -97.253672 37.689275, -97.253674 37.689597, -97.253674 37.689871, -97.253674 37.690186, -97.253794 37.690185, -97.253981 37.690185, -97.254155 37.690185, -97.254299 37.690184, -97.254495 37.690184, -97.254603 37.690183, -97.254662 37.690183, -97.254842 37.690183, -97.254919 37.690183, -97.255165 37.690183, -97.255184 37.690183, -97.255228 37.690182, -97.255529 37.690181, -97.255657 37.690181, -97.255844 37.69018, -97.256154 37.690179, -97.256367 37.690179, -97.256523 37.690178, -97.256546 37.690178, -97.256813 37.690177, -97.256826 37.690177, -97.256913 37.690177, -97.257225 37.690176, -97.257663 37.690175, -97.257729 37.690173, -97.257877 37.690174, -97.257943 37.690175, -97.25801 37.690174, -97.258492 37.690173, -97.261452 37.690163, -97.261727 37.690161, -97.261987 37.690162, -97.262176 37.690156, -97.262176 37.690671, -97.262175 37.692901, -97.26218 37.69382))

In [34]:
import pandas as pd
from shapely.wkt import loads  # To parse the WKT POLYGON format

# Sample DataFrame with POLYGON data in WKT format
data = {
    'geometry': [
        'POLYGON ((-97.262272 37.708419, -97.26001 37.708411, -97.258898 37.708409, -97.257789 37.708409, -97.25691 37.708409, -97.256632 37.708409, -97.25433 37.708413, -97.25383 37.708414, -97.252268 37.708418, -97.249383 37.708419, -97.248725 37.70842, -97.247906 37.708422, -97.247316 37.708426, -97.246577 37.70843, -97.24644 37.708431, -97.245779 37.708435, -97.244667 37.708445, -97.243758 37.708453, -97.242096 37.70843, -97.240639 37.708427, -97.239919 37.708425, -97.239002 37.708423, -97.237736 37.70842, -97.235605 37.708419, -97.232956 37.708424, -97.231325 37.708427, -97.229066 37.708432, -97.226199 37.708434, -97.226206 37.707953, -97.226211 37.706631, -97.226209 37.704591, -97.226208 37.704094, -97.226207 37.703508, -97.226205 37.701701, -97.226202 37.701161, -97.226202 37.701067, -97.226192 37.698852, -97.226191 37.698391, -97.22619 37.697967, -97.226184 37.697493, -97.226178 37.697116, -97.22618 37.696632, -97.226182 37.695752, -97.226182 37.69518, -97.226176 37.694808, -97.226173 37.694681, -97.226166 37.69424, -97.226162 37.693978, -97.226434 37.69394, -97.226647 37.693911, -97.227601 37.693862, -97.232544 37.693857, -97.233094 37.693855, -97.233456 37.693853, -97.235252 37.693856, -97.236246 37.693852, -97.236756 37.69385, -97.239077 37.693841, -97.239909 37.693842, -97.241596 37.693845, -97.242116 37.693845, -97.242495 37.693843, -97.242867 37.693842, -97.244538 37.693825, -97.245798 37.693822, -97.247124 37.693825, -97.248092 37.693828, -97.248538 37.693829, -97.248822 37.69383, -97.249429 37.693831, -97.250701 37.693832, -97.250856 37.693832, -97.251824 37.693829, -97.253057 37.693826, -97.25307 37.69518, -97.253104 37.695894, -97.253179 37.696336, -97.253185 37.696376, -97.253331 37.696834, -97.253899 37.697823, -97.254752 37.698736, -97.254966 37.698908, -97.255055 37.69898, -97.255302 37.699323, -97.255339 37.699889, -97.25536 37.701124, -97.256579 37.70112, -97.257751 37.701118, -97.258887 37.701117, -97.259995 37.701115, -97.262201 37.701109, -97.262208 37.702015, -97.262218 37.702896, -97.262227 37.703774, -97.262237 37.704655, -97.262245 37.705527, -97.262254 37.706401, -97.262272 37.708419))'
    ]
}
df = pd.DataFrame(data)

# Function to convert WKT POLYGON to list-of-lists format
def polygon_to_list_of_lists(polygon_wkt):
    # Parse the WKT format to a Shapely Polygon object
    polygon = loads(polygon_wkt)
    
    # Extract the exterior coordinates as a list of lists
    coords_list = [[list(coord) for coord in polygon.exterior.coords]]
    
    return coords_list

# Apply the function to the geometry column
df['geometry'] = df['geometry'].apply(polygon_to_list_of_lists)

# Check the result
print(df['geometry'].iloc[0])

[[[-97.262272, 37.708419], [-97.26001, 37.708411], [-97.258898, 37.708409], [-97.257789, 37.708409], [-97.25691, 37.708409], [-97.256632, 37.708409], [-97.25433, 37.708413], [-97.25383, 37.708414], [-97.252268, 37.708418], [-97.249383, 37.708419], [-97.248725, 37.70842], [-97.247906, 37.708422], [-97.247316, 37.708426], [-97.246577, 37.70843], [-97.24644, 37.708431], [-97.245779, 37.708435], [-97.244667, 37.708445], [-97.243758, 37.708453], [-97.242096, 37.70843], [-97.240639, 37.708427], [-97.239919, 37.708425], [-97.239002, 37.708423], [-97.237736, 37.70842], [-97.235605, 37.708419], [-97.232956, 37.708424], [-97.231325, 37.708427], [-97.229066, 37.708432], [-97.226199, 37.708434], [-97.226206, 37.707953], [-97.226211, 37.706631], [-97.226209, 37.704591], [-97.226208, 37.704094], [-97.226207, 37.703508], [-97.226205, 37.701701], [-97.226202, 37.701161], [-97.226202, 37.701067], [-97.226192, 37.698852], [-97.226191, 37.698391], [-97.22619, 37.697967], [-97.226184, 37.697493], [-97.226178, 37.697116], [-97.22618, 37.696632], [-97.226182, 37.695752], [-97.226182, 37.69518], [-97.226176, 37.694808], [-97.226173, 37.694681], [-97.226166, 37.69424], [-97.226162, 37.693978], [-97.226434, 37.69394], [-97.226647, 37.693911], [-97.227601, 37.693862], [-97.232544, 37.693857], [-97.233094, 37.693855], [-97.233456, 37.693853], [-97.235252, 37.693856], [-97.236246, 37.693852], [-97.236756, 37.69385], [-97.239077, 37.693841], [-97.239909, 37.693842], [-97.241596, 37.693845], [-97.242116, 37.693845], [-97.242495, 37.693843], [-97.242867, 37.693842], [-97.244538, 37.693825], [-97.245798, 37.693822], [-97.247124, 37.693825], [-97.248092, 37.693828], [-97.248538, 37.693829], [-97.248822, 37.69383], [-97.249429, 37.693831], [-97.250701, 37.693832], [-97.250856, 37.693832], [-97.251824, 37.693829], [-97.253057, 37.693826], [-97.25307, 37.69518], [-97.253104, 37.695894], [-97.253179, 37.696336], [-97.253185, 37.696376], [-97.253331, 37.696834], [-97.253899, 37.697823], [-97.254752, 37.698736], [-97.254966, 37.698908], [-97.255055, 37.69898], [-97.255302, 37.699323], [-97.255339, 37.699889], [-97.25536, 37.701124], [-97.256579, 37.70112], [-97.257751, 37.701118], [-97.258887, 37.701117], [-97.259995, 37.701115], [-97.262201, 37.701109], [-97.262208, 37.702015], [-97.262218, 37.702896], [-97.262227, 37.703774], [-97.262237, 37.704655], [-97.262245, 37.705527], [-97.262254, 37.706401], [-97.262272, 37.708419]]]